@model Project.Models.StoreRegistrationViewModel
@{
    ViewBag.Title = "Registration Review";
    var db = new Project.DAL.PROEntities();
}
<style>
    .disabledTab {
        pointer-events: none;
    }
</style>
<div class="page-header page-title-left mini">
    <div class="image-bg content-in" data-background="@Url.Content("~/Content/Frontend/light/img/sections/slider/backmenu.jpg")" data-stellar-background-ratio="0.5" style="background-image: @Url.Content("~/Content/Frontend/light/img/sections/slider/backmenu.jpg"); background-position: 50% 0%;"></div>
    <div class="container">
        <div class="col-md-12">
            <h1 class="title" style="color:white">Registration Review</h1>
            <ul class="breadcrumb" style="color:white">
                <li style="color:white">
                    <a href="@Url.Action("Index", "Home", new {area = "" })" style="color:white">Home</a>
                </li>
                <li class="active" style="color:white">Registration Review</li>
            </ul>
        </div>
    </div>
</div>

<section id="addition-info" class="page-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
               

                @if (TempData["Message"] != null)
                {
                    var alertType = (TempData["MessageType"] != null) ? TempData["MessageType"] : "alert-info";
                    <div class="alert @alertType fade in">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="fa fa-times"></i>
                        </button>
                        @Html.Raw(TempData["Message"])
                    </div>
                }
                <div id="tabbed_widget" class="tabbable" style="display:;">
                    <ul class="nav nav-tabs" style="margin: 0 0 20px 0;">
                        <li class="disabled disabledTab">
                            <a href="#">Guidelines</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Step 1: Store Information</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Step 2: Store Address</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Step 3: Contact Person</a>
                        </li>

                        <li class="disabled disabledTab">
                            <a href="#">Step 4: Product Category</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Step 5: Account Info</a>
                        </li>
                        <li class="active">
                            <a href="#">Step 6:Review</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Feedback</a>
                        </li>
                    </ul>
                </div>

                <div class="panel panel-primary" id="tabbed_widget_panel">
                    <div class="panel-heading" style="background-color: #143856;border-color: #143856;">
                       Review
                    </div>


                  
                       
                            <div class="panel-body">
                                <div class="col-sm-12 col-md-12">

                                    @Html.HiddenFor(x => x.store.ProcessInstaceId)
                                    

                                    @Html.AntiForgeryToken()
                                  
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h3 class="title"><i class="icon-mobile9"></i>Store Information</h3>
                                        </div>
                                        <table class="table table-striped table-bordered table-hover" id="coverNone">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        S/N
                                                    </th>
                                                    <th>
                                                        Name
                                                    </th>
                                                    <th>
                                                        Logo
                                                    </th>
                                                    <th>
                                                        Modified By
                                                    </th>
                                                    <th>
                                                        Modified Date
                                                    </th>
                                                    <th>
                                                        Accepted Currency
                                                    </th>


                                                    
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>
                                                        1

                                                    </td>
                                                    <td>
                                                        @Model.store.Name
                                                    </td>
                                                    <td>
                                                        @if (Model.store.Logo == null)
                                                        {
                                                            <p>No Logo</p>
                                                        }
                                                        else
                                                        {
                                                            <img src="@Url.Action("DocumentsUploadedPath", new { Path = (Model.documentPath) + Model.store.Logo })" height="60" width="190" />
                                                        }

                                                    </td>

                                                    <td>
                                                        @Model.store.ModifiedBy
                                                    </td>
                                                    <td>
                                                        @Model.store.ModifiedDate
                                                    </td>


                                                    <td>
                                                        @if (Model.store.CountryId == 1)
                                                        {
                                                            <span class="label label-danger"> <strong>Nigerian Naira</strong></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="label label-success"> <strong>Ghana Cedis</strong></span>
                                                        }


                                                    </td>
                                                   
                                               </tr>
                                            </tbody>
                                        </table>


                                    </div>

                                   
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h3 class="title"><i class="icon-mobile9"></i>Store Address</h3>
                                        </div>                                      
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr style="font-size: 12px;">
                                                    <th>S/N</th>
                                                    <th>Address Type</th>
                                                    <th>Street</th>
                                                    @if (Model.store.CountryId == 1)
                                                    {
                                                        <th>State</th>
                                                        <th>Lga</th>
                                                    }
                                                    else
                                                    {
                                                        <th>Region</th>
                                                        <th>District</th>
                                                    }

                                                    <th>Modified By</th>
                                                    <th>Modified Date</th>
                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.addressList.Count != 0)
                                                {
                                                    int i = 0;
                                                    foreach (var item in Model.addressList)
                                                    {
                                                        ++i;
                                                        <tr style="font-size: 12px;">
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>@item.AddressType.Name</td>
                                                            <td>@item.Street</td>
                                                            <td>@item.LGA.State.Name</td>
                                                            <td>@item.LGA.Name</td>

                                                            <td>@item.ModifiedBy</td>
                                                            <td>@item.ModifiedDate</td>
                                                           
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="8">No Records Found!...</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                   
                                    <div class="widget">
                                        <div class="widget-title">
                                            <h3 class="title"><i class="icon-mobile9"></i>Contact Person</h3>
                                        </div>
                                       
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                                <tr style="font-size: 12px;">
                                                    <th>S/N</th>
                                                    <th>First Last</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Number No</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.contactInfoList.Count != 0)
                                                {
                                                    int i = 0;
                                                    foreach (var item in Model.contactInfoList)
                                                    {
                                                        ++i;
                                                        <tr style="font-size: 12px;">
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>@item.FirstName</td>
                                                            <td>@item.LastName</td>
                                                            <td>@item.EmailAddress</td>
                                                            <td>@item.MobileNo</td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="8">No Records Found!...</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="widget">
                                        <div class="widget-title">
                                            <h3 class="title"><i class="icon-mobile9"></i>Product Category</h3>
                                        </div>

                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            @foreach (var item in Model.StoreProductCategory)
                                            {
                                                <div class="panel panel-default">
                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                        <h6 class="panel-title" style="color:blue">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#@item.Id" aria-expanded="false" aria-controls="collapseOne">
                                                                @item.Name

                                                            </a>
                                                        </h6>
                                                    </div>
                                                    <div id="@item.Id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                        <div class="panel-body">
                                                          
                                                            @{
                                                                var GetSubCategory = Model.store.ProductSubCategory.Where(x => x.ProductCategoryId == item.Id).ToList();
                                                            }
                                                            <table class="table table-striped table-bordered table-hover table-checkable datatable dataTable">
                                                                <thead>
                                                                    <tr>

                                                                        <th>SN</th>
                                                                        <th>
                                                                            Added Sub Category
                                                                        </th>

                                                                       
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    @if (GetSubCategory.Count != 0)
                                                                    {

                                                                        int i = 0;
                                                                        foreach (var itemsub in GetSubCategory)
                                                                        {
                                                                            ++i;
                                                                            <tr>
                                                                                <td>
                                                                                    @i
                                                                                </td>
                                                                                <td>
                                                                                    @itemsub.Name
                                                                                </td>
                                                                              

                                                                            </tr>

                                                                        }


                                                                    }

                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>


                                                </div>
                                                                }
                                            
                                        </div>


                                    </div>

                                    <div class="widget">
                                        <div class="widget-title">
                                            <h3 class="title"><i class="icon-mobile9"></i>User Account</h3>
                                        </div>

                                        <table class="table table-striped table-bordered table-hover table-checkable datatable dataTable" id="fees">
                                            <thead>
                                                <tr style="font-size: 12px;">

                                                    <th>Username</th>
                                                    <th>Email Address</th>
                                                    <th>Password</th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.tempUser != null)
                                                {

                                                    <tr style="font-size: 12px;">

                                                        <td>@Model.tempUser.Username</td>
                                                        <td>@Model.tempUser.EmailAddres</td>
                                                        <td><span>***************</span> <span style="color:red">(Password is hidden for security purpose.)</span></td>



                                                    </tr>

                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="8">No Records Found!...</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                   

                                    <div class="alert alert-warning">By submitting this application, i confirm that the information given in this form is true, complete and accurate. Submit your registration by clicking on the button below.</div>

                                </div>
                                </div>

                            <div class="panel-footer">
                                <div class="row">
                                    <div style="text-align: left;" class="col-md-6">
                                        <a href="@Url.Action("UserAccount", "StoreRegistration", new { Id = Model.store.ProcessInstaceId, @area = "" })" class="btn btn-sm btn-default" style="color:white">Back</a>
                                    </div>
                                    <div style="text-align: right;" class="col-md-6">
                                        @Html.ActionLink("Submit Registration", "SubmitRegistration", "StoreRegistration", new { Id = Model.store.ProcessInstaceId }, new { @class = "btn btn-sm btn-default", style = "color:white" })
                                    </div>
                                </div>
                            </div>
                        
                    

                </div>

            </div>
        </div>
    </div>
</section>

<style>
    .disabledTab {
        pointer-events: none;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<script>
    function DeleteConfirm() {
        if (confirm("Are you sure want to remove this Sub Category from you Store?"))
            return true;
        else
            return false;
    }

</script>

