@model Project.Models.StoreRegistrationViewModel
@{
    ViewBag.Title = "Store Information";
    var db = new Project.DAL.PROEntities();
}
<style>
    .disabledTab {
        pointer-events: none;
    }
</style>
<div class="page-header page-title-left mini">
    <div class="image-bg content-in" data-background="@Url.Content("~/Content/Frontend/light/img/sections/slider/inner.jpg")" data-stellar-background-ratio="0.5" style="background-image: @Url.Content("~/Content/Frontend/light/img/sections/slider/backmenu.jpg"); background-position: 50% 0%;"></div>
    <div class="container">
        <div class="col-md-12">
            <h1 class="title" style="color:white">Store Information</h1>
            <ul class="breadcrumb" style="color:white">
                <li style="color:white">
                    <a href="@Url.Action("Index", "Home", new {area = "" })" style="color:white">Home</a>
                </li>
                <li class="active" style="color:white">Store Information</li>
            </ul>
        </div>
    </div>
</div>

<section id="addition-info" class="page-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div id="tabbed_widget" class="tabbable" style="display:;">
                    <ul class="nav nav-tabs" style="margin: 0 0 20px 0;">
                        <li class="disabled disabledTab">
                            <a href="#">Guidelines</a>
                        </li>
                        <li class="active">
                            <a href="#">Step 1: Store Information</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Step 2: Store Address</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Step 3: Contact Person</a>
                        </li>

                        <li class="disabled disabledTab">
                            <a href="#">Step 4: Product Category</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Step 5: Account Info</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Step 6:Review</a>
                        </li>
                        <li class="disabled disabledTab">
                            <a href="#">Feedback</a>
                        </li>
                    </ul>
                </div>

                <div class="panel panel-warning" id="tabbed_widget_panel">
                    <div class="panel-heading" style="background-color: #FFA500;border-color: #FFA500;">
                        Store Information
                    </div>
@using (Html.BeginForm("StoreInformation", "StoreRegistration", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal row-border" }))
    
    {
                    <div class="panel-body">
                        <div class="col-lg-9">
            
                                @Html.AntiForgeryToken()
                                <div class="panel-body">

                                    <div class="content col-sm-12 col-md-8">
                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.storeform.Name, new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.TextBoxFor(model => model.storeform.Name, new { @class = "form-control", @placeholder = "Enter the Store Name." })
                                                @Html.ValidationMessageFor(model => model.storeform.Name, null, new { @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.storeform.Description, new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.TextAreaFor(model => model.storeform.Description, new { @class = "form-control", @placeholder = "Enter the Store Profile." })
                                                @Html.ValidationMessageFor(model => model.storeform.Description, null, new { @style = "color:red" })
                                            </div>
                                        </div>


                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.storeform.Logo, new { @class = "" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.TextBoxFor(x => Model.storeform.Logo, new { type = "file", @class = "form-control" })
                                                @*@Html.ValidationMessageFor(model => model.CompanyRegFrom.RegistrationNumber, null, new { @style = "color:red" })*@
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.Label("Check if you want us to handle your logistics") @Html.CheckBoxFor(m => m.storeform.OwnProcurement)
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.Label("Accepted Currency", new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.DropDownListFor(m => Model.storeform.CountryId, new SelectList(Model.CountryList, "Value", "Text"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.Label("Bank", new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.DropDownListFor(m => Model.storeform.BankId, new SelectList(Model.BankList, "Value", "Text"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.storeform.AccountName, new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.TextBoxFor(model => model.storeform.AccountName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.storeform.AccountName, null, new { @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.storeform.AccountNumber, new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.TextBoxFor(model => model.storeform.AccountNumber, new { @class = "form-control", maxlength = 10, @placeholder = "eg. 1234567890" })
                                                @Html.ValidationMessageFor(model => model.storeform.AccountNumber, null, new { @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.Label("Store Theme", new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.DropDownListFor(m => Model.storeform.ThemesId, new SelectList(Model.ThemesList, "Value", "Text"), new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.storeform.URL, new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.TextBoxFor(model => model.storeform.URL, new { @class = "form-control", @placeholder = "eg. www.ibshoescollections.com" })
                                                @Html.ValidationMessageFor(model => model.storeform.URL, null, new { @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.storeform.URL2, new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.TextBoxFor(model => model.storeform.URL2, new { @class = "form-control", @placeholder = "eg. www.ib-shoescollections.com" })
                                                @Html.ValidationMessageFor(model => model.storeform.URL2, null, new { @style = "color:red" })
                                            </div>
                                        </div>

                                        <div class="editor-label">
                                            @Html.LabelFor(model => model.storeform.URL3, new { @class = "required" })
                                        </div>
                                        <div class="form-group">
                                            <div class="input-icon">
                                                @Html.TextBoxFor(model => model.storeform.URL3, new { @class = "form-control", @placeholder = "eg. www.ibshoes.com" })
                                                @Html.ValidationMessageFor(model => model.storeform.URL3, null, new { @style = "color:red" })
                                            </div>
                                        </div>

                                    </div>

                                </div>

                        </div>
                        
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div style="text-align: left;" class="col-md-6">
                                <a href="@Url.Action("Index")" class="btn btn-sm btn-default" style="color:white">Back</a>
                            </div>
                            <div style="text-align: right;" class="col-md-6">
                                <input type="submit" value="Next" class="btn btn-sm btn-default" style="color:white">
                            </div>
                        </div>
                    </div>
}
                </div>

            </div>
        </div>
    </div>
</section>

<style>
    .disabledTab {
        pointer-events: none;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>
