@model Project.Areas.Setup.Models.PaymentMethodViewModel
@using Project.HtmlHelpers
@{
    ViewBag.Title = "New Payment Method";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.IsGreetings = "true";
}
@section Crumbs{
    <div class="crumbs">

        <ul class="breadcrumb" id="breadcrumbs">
            <li> <i class="icon-home"></i> <a href="@Url.Action("Index", "Dashboard", new { area="Admin"})">Dashboard</a> </li>
            <li class="current"> <a title="" href="javascript: return void(0)"></a>New Payment Method </li>
        </ul>
    </div>
}



<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4>
                    <i class="icon-reorder"></i>
                    New Payment Method
                </h4>
            </div>
            <div class="widget-content">
                @using (Html.BeginForm("NewPaymentLogo", "PaymentMethod", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal row-border" }))
                {
                    @Html.AntiForgeryToken()



                    <div class="form-group">
                        @Html.Label("Name", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.PaymentMethodform.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PaymentMethodform.Name)
                        </div>
                    </div>




                    <div class="form-group">
                        @Html.LabelFor(m => m.PaymentMethodform.LogoPath, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(x => Model.PaymentMethodform.LogoPath, new { type = "file" })
                            @Html.ValidationMessageFor(m => m.PaymentMethodform.LogoPath)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Is Deleted?", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.CheckBoxFor(m => m.PaymentMethodform.IsDeleted)
                        </div>
                    </div>

                    <div class="form-actions">
                        @Html.ActionLink("<< Back to List", "Index", null, new { @class = "btn btn-xs btn-warning" })
                        <input type="submit" class="btn btn-xs btn-success pull-right" value="Save" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
