@model Project.Areas.Setup.Models.StateViewModel

@{
    ViewBag.Title = "Edit Lga for " + Model.state.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.IsGreetings = "true";}

@section Crumbs{
    <div class="crumbs">

        <ul class="breadcrumb" id="breadcrumbs">
            <li> <i class="icon-home"></i> <a href="@Url.Action("Index", "Dashboard", new { area="Admin"})">Dashboard</a> </li>
            <li class="current"> <a title="" href="javascript: return void(0)">Edit Lga</a> </li>
        </ul>
    </div>
}
<style>
    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4>
                    <i class="icon-reorder"></i>
                    Edit Lga for @Model.state.Name

                </h4>
            </div>
            <div class="widget-content">
                @using (Html.BeginForm("EditLga", "StateList", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal row-border" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.lgaForm.StateId)
                    @Html.HiddenFor(x => x.lgaForm.Id)

                    <div class="form-group">
                        @Html.Label("Lga Name", new { @class = "col-md-2 control-label required" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.lgaForm.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.lgaForm.Name, null, new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-actions">
                        <a href="@Url.Action("LGAList", "stateList", new {Id=Model.lgaForm.StateId, area="Setup"})" class="btn btn-success btn-xs"><< Back to List </a>
                        <input type="submit" class="btn btn-warning btn-xs pull-right" value="Save" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>
