@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="slider" style="margin-bottom:-170px">
    
        
    <div class="tp-banner">

      

        <ul>
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <a href="@Url.Action("Index", "StoreRegistration", new { Area = ""})">
                    <img src="@Url.Content("~/Content/Frontend/light/img/sections/slider/slider1.jpg")" alt="" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat">
                </a>
            </li>
            
            @*<li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">

                <img src="@Url.Content("~/Content/Frontend/light/img/sections/slider/market.jpg")" alt="" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat">

            </li>*@
        </ul>
        <div class="tp-bannertimer" style="display:none"></div>
    </div>

</section>
<section id="about-us" class="page-section">
    <div class="container">
        <div class="row text-center top-pad-30">
            <div class="col-md-3">
                <div class="section-title text-left">
                    <h1 class="title">About Us</h1>
                </div>
            </div>
            <div class="col-md-9 text-left bottom-pad-20">
                <!-- Text -->
                <blockquote><em>
    We are your plug to starting a profitable ecommerce business the simplest, fastest and most efficient way. With little or no huge start up capital, you can own your own fully set-up online store in less than a day.

    With a wide range of in-demand products, you will not lack options on where and what to start with. Just start and your success story begins.

    You don't even need to worry how your customers will get their products, it's on us. You just keep doing your sales while we get the heavy load done.


    With a wide range of in-demand products, you will not lack options on where and what to start with. Just start and your success story begins.

    Our personalized technical and business support units are ever ready to tackle any challenges you may encounter at any point n this journey.
    Alright
</em></blockquote>
            </div>
        </div>
        <div class="row bottom-pad-30">
            <div class="col-sm-4">
                <p class="text-center opacity">
                    <img src="~/Content/Frontend/light/img/Sections/Slider/cash.jpg" width="370" height="185" alt="">
                </p>
                <h4>
                    <a href="@Url.Action("Index", "StoreRegistration", new {area = "" })" class="black">Fast Cash-Out</a>
                </h4>
                <p>Once your sales are done, you can start smiling. the next pay out day has your name and money on it.</p>
                <div class="meta top-pad-10">
                    <!-- Meta Date -->
                    <span class="time">

                    </span>
                    <span class="pull-right">
                        <i class="icon-sign-in"></i>
                        <a href="@Url.Action("Index", "StoreRegistration", new {area = "" })">Sign Up Now</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 opacity">
                <p class="text-center">
                    <img src="~/Content/Frontend/light/img/Sections/Slider/easy.jpg" width="370" height="185" alt="">
                </p>
                <h4>
                    <a href="@Url.Action("Index", "StoreRegistration", new {area = "" })" class="black">Easy Onbaording</a>
                </h4>
                <p>Getting into your new dashboard shouldn't be a difficult thing. We help you get onboarded in the shortest time.</p> 
                <div class="meta top-pad-10">
                    <!-- Meta Date -->
                    <span class="time">

                    </span>
                    <span class="pull-right">
                        <i class="icon-sign-in"></i>
                        <a href="@Url.Action("Index", "StoreRegistration", new {area = "" })">Sign Up Now</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-4 opacity">
                <p class="text-center">
                    <img src="~/Content/Frontend/light/img/Sections/Slider/signup.jpg" width="370" height="185" alt="">
                </p>
                <h4>
                    <a href="@Url.Action("Index", "StoreRegistration", new {area = "" })" class="black">Simple Sign up</a>
                </h4>
                <p>A sign up process that takes less than five minutes. your time is important and we know it.</p>
                <div class="meta top-pad-10">
                    <!-- Meta Date -->

                    <span class="pull-right">
                        <i class="icon-sign-in"></i>
                        <a href="@Url.Action("Index", "StoreRegistration", new {area = "" })">Sign Up Now</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>


 