@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<section class="slider">

    <div class="tp-banner">
        <ul>
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <img src="@Url.Content("~/Content/Frontend/light/img/sections/slider/ict.jpg")" alt="" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat">
            </li>
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <img src="@Url.Content("~/Content/Frontend/light/img/sections/slider/digitalmarketing.jpg")" alt="" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat">
            </li>
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <img src="@Url.Content("~/Content/Frontend/light/img/sections/slider/consulting.jpg")" alt="" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat">
            </li>

            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">
                <img src="@Url.Content("~/Content/Frontend/light/img/sections/slider/power.jpg")" alt="" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat">
            </li>

            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">

                <img src="@Url.Content("~/Content/Frontend/light/img/sections/slider/supply.jpg")" alt="" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat">
            </li>
            <li data-delay="7000" data-transition="fade" data-slotamount="7" data-masterspeed="2000">

                <img src="@Url.Content("~/Content/Frontend/light/img/sections/slider/market1.jpg")" alt="" data-bgfit="contain" data-bgposition="center top" data-bgrepeat="no-repeat">

            </li>
        </ul>
        <div class="tp-bannertimer" style="display:none"></div>
    </div>

</section>
<section class="page-section animated fadeInUp visible" data-animation="fadeInUp" style="padding:0px 0px 40px 0px; margin-top:-12%">
    <div class="container">
        <div class="section-title">
            <!-- Heading -->
            <h2 class="title">We provide Amazing Solutions</h2>
        </div>
        <div class="row">
        
                <div class="col-md-12">

                    <div class="row special-feature">

                        <!-- Special Feature Box 1 -->
                        <div class="col-md-3">
                            <div class="s-feature-box text-center">
                                <div class="mask-top">
                                    <!-- Icon -->
                                    <i class="fa fa-database"></i>
                                    <!-- Title -->
                                    <h4>ICT Solutions</h4>
                                </div>
                                <div class="mask-bottom">
                                    <!-- Icon -->
                                    <i class="fa fa-database" style="color:white"></i>
                                    <!-- Title -->
                                    <h4 style="color:white">ICT Solutions</h4>
                                    <!-- Text -->
                                    <p style="color:white">We provide ICT solutions such as Web design and development, hosting and maintenance, mobile applications, network management, database management, graphic design and others.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Special Feature Box 2 -->
                        <div class="col-md-3">
                            <div class="s-feature-box text-center">
                                <div class="mask-top">
                                    <!-- Icon -->
                                    <i class="fa fa-magic"></i>
                                    <!-- Title -->
                                    <h4>Digital Marketing</h4>
                                </div>
                                <div class="mask-bottom">
                                    <!-- Icon -->
                                    <i class="fa fa-magic" style="color:white"></i>
                                    <!-- Title -->
                                    <h4 style="color:white">Digital Marketing</h4>
                                    <!-- Text -->
                                    <p style="color:white">Use the online platform to provide an avenue where we can advertise and promote the products and services of our clients.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Special Feature Box 3 -->
                        <div class="col-md-3">
                            <div class="s-feature-box text-center">
                                <div class="mask-top">
                                    <!-- Icon -->
                                    <i class="fa fa-code"></i>
                                    <!-- Title -->
                                    <h4>Consultancy Services</h4>
                                </div>
                                <div class="mask-bottom">
                                    <!-- Icon -->
                                    <i class="fa fa-code"></i>
                                    <!-- Title -->
                                    <h4 style="color:white">Consultancy Services</h4>
                                    <!-- Text -->
                                    <p style="color:white">We support both private and public sector in institutional and environmental development in order to promote economic growth and enhance human well-being in the community. </p>
                                </div>
                            </div>
                        </div>
                        <!-- Special Feature Box 3 -->
                        <div class="col-md-3">
                            <div class="s-feature-box text-center">
                                <div class="mask-top">
                                    <!-- Icon -->
                                    <i class="fa fa-paper-plane-o"></i>
                                    <!-- Title -->
                                    <h4>Sales, Supply and Maintenance</h4>
                                </div>
                                <div class="mask-bottom">
                                    <!-- Icon -->
                                    <i class="fa fa-paper-plane-o" style="color:white"></i>
                                    <!-- Title -->
                                    <h4 style="color:white">Sales, Supply and Maintenance</h4>
                                    <!-- Text -->
                                    <p style="color:white">We engage in office and home supplies of products such as ICT equipment, furniture, general merchandise and other stationaries. </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row special-feature">
                        <!-- Special Feature Box 1 -->
                        <div class="col-md-3">
                            <div class="s-feature-box text-center">
                                <div class="mask-top">
                                    <!-- Icon -->
                                    <i class="fa fa-file"></i>
                                    <!-- Title -->
                                    <h4>General Contract</h4>
                                </div>
                                <div class="mask-bottom">
                                    <!-- Icon -->
                                    <i class="fa fa-file" style="color:white"></i>
                                    <!-- Title -->
                                    <h4 style="color:white">General Contract</h4>
                                    <!-- Text -->
                                    <p style="color:white">We are into general trading, construction, import and export, commission agency, manufacturing, waste management and other related services.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Special Feature Box 2 -->
                        <div class="col-md-3">
                            <div class="s-feature-box text-center">
                                <div class="mask-top">
                                    <!-- Icon -->
                                    <i class="fa fa-pagelines"></i>
                                    <!-- Title -->
                                    <h4>Agriculture Products Supply</h4>
                                </div>
                                <div class="mask-bottom">
                                    <!-- Icon -->
                                    <i class="fa fa-pagelines" style="color:white"></i>
                                    <!-- Title -->
                                    <h4 style="color:white">Agriculture Products Supply</h4>
                                    <!-- Text -->
                                    <p style="color:white">We engage in sale and delivery of farm machinery, fertilizer and seeds and others Agriculture Products </p>
                                </div>
                            </div>
                        </div>
                        <!-- Special Feature Box 3 -->
                        <div class="col-md-3">
                            <div class="s-feature-box text-center">
                                <div class="mask-top">
                                    <!-- Icon -->
                                    <i class="icon-bike2"></i>
                                    <!-- Title -->
                                    <h4>Supply of Hospital Equipments</h4>
                                </div>
                                <div class="mask-bottom">
                                    <!-- Icon -->
                                    <i class="icon-bike2" style="color:white"></i>
                                    <!-- Title -->
                                    <h4 style="color:white">Supply of Hospital Equipments</h4>
                                    <!-- Text -->
                                    <p style="color:white">We supply Hospital Equipments such as DIGITAL X-RAY MACHINES (Fuji, Agfa, Hitachi), DIGITAL X-RAY FILMS (Sizes 17X14, 24X30, 35X43) </p>
                                </div>
                            </div>
                        </div>
                        <!-- Special Feature Box 3 -->
                        <div class="col-md-3">
                            <div class="s-feature-box text-center">
                                <div class="mask-top">
                                    <!-- Icon -->
                                    <i class="icon-sun6 fa-2x"></i>
                                    <!-- Title -->
                                    <h4>Power/Electrical Engery Systems</h4>
                                </div>
                                <div class="mask-bottom">
                                    <!-- Icon -->
                                    <i class="icon-sun6 fa-2x" style="color:white"></i>
                                    <!-- Title -->
                                    <h4 style="color:white">Power/Electrical Engery Systems</h4>
                                    <!-- Text -->
                                    <p style="color:white">We provide energy and electrical equipments such as Solar Panels, Inveter, Batteries, Trunks, Battery Rack, PVS Pipes,Cable Locks. </p>
                                </div>
                            </div>
                        </div>
                        </div>



                    </div>
                </div>
           
            
    </div>
</section>

<br /><br /><br /><br /><br /><br />
<section class="page-section animated fadeInUp visible" data-animation="fadeInUp" style="padding:0px 0px 40px 0px; margin-top:-12%">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <h4>About Us</h4>
                <p>FORTRESS General Enterprise Limited was incorporated in November 2015 for the purpose of providing wide range of services such as ICT solutions, Digital Marketing, Sales, Supply and Distribution, Consultancy Services, General Contract, Agriculture amongst others.</p>
                <p>The objective of the company is to realize potential savings to clients by way of improved performance base for quality project execution. Above all, technical expertise and human experience constitute the most valuable assets of the company.</p>
            </div>
            <div class="col-sm-6 col-md-4">
                <h4>Our Vision</h4>
                <p>To become a leading company in providing ICT and other general services and to build a strong relationship with our clients by providing the best of services in our line of business. </p>
            </div>
            <div class="col-sm-6 col-md-4">
                <h4>Our Mission</h4>                
                <p>To ensure that IT is systematically used as an enabler in automating business processes and designing solutions to exceed clients’ requirements. </p>
                <p>To ensure Customer Satisfaction by providing sustainable solutions and quality, outstanding services. </p>
                <p>To collaborate with clients to ensure true ownership of delivered products and solutions to ensure maximum impact.</p>
            </div>
        </div>
    </div>
    </section>
