@model Project.Areas.Setup.Models.StoreManagementViewModel
@using Project.HtmlHelpers
@{
    ViewBag.Title = "Eidt Collection Photo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.IsGreetings = "true";
}
@section Crumbs{
    <div class="crumbs">

        <ul class="breadcrumb" id="breadcrumbs">
            <li> <i class="icon-home"></i> <a href="@Url.Action("Index", "Dashboard", new { area="Admin"})">Dashboard</a> </li>
            <li class="current"> <a title="" href="javascript: return void(0)"></a>Edit Collection Photo </li>
        </ul>
    </div>
}



<div class="row">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <h4>
                    <i class="icon-reorder"></i>
                    Edit Collection
                </h4>
            </div>
            <div class="widget-content">
                @using (Html.BeginForm("EditCollection", "Store", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal row-border" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.storeCollectionForm.Id)
                    @Html.HiddenFor(x => x.store.ProcessInstaceId)
                    @Html.HiddenFor(x => x.storeCollectionForm.StoreId)



                    <div class="form-group">
                        @Html.Label("Collection", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.storeCollectionForm.CollectionName, new { @class = "form-control", @readonly = true })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Exisiting Collection", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            <img src="@Url.Action("DocumentsUploadedPath", new { Path = (Model.documentPath) + Model.documentValue })" height="60" width="190" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.storeCollectionForm.CollectionPhoto, new { @class = "col-md-2 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(x => Model.storeCollectionForm.CollectionPhoto, new { type = "file" })

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Is Deleted?", new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.CheckBoxFor(m => m.storeCollectionForm.IsDeleted)
                        </div>
                    </div>

                    <div class="form-actions">


                        <a href="@Url.Action("CollectionList", "Store", new {Id=Model.store.ProcessInstaceId, area = "Setup" })" class="btn btn-xs btn-warning">Back</a>

                        <input type="submit" class="btn btn-xs btn-success pull-right" value="Save" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
