@model Project.Areas.Admin.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.IsGreetings = "true";
}
@section Crumbs{
    <div class="crumbs">

        <ul class="breadcrumb" id="breadcrumbs">
            <li> <i class="icon-home"></i> <a href="@Url.Action("Index", "Dashboard", new { area="Admin"})">Dashboard</a> </li>
    

        </ul>
    </div>
}
<div class="row row-bg">
    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual cyan"><i class="icon-file-text"></i></div>
                <div class="title">New Registration</div>
                <div class="value">@Model.TotalNewRegistration</div>
                <a class="more" href="@Url.Action("RegistrationList", "Dashboard", new { area="Admin"})">View <i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual cyan"><i class="icon-file-text"></i></div>
                <div class="title">Approved Registration</div>
                <div class="value">@Model.TotalApproved</div>
                <a class="more" href="@Url.Action("ApprovedRegistration", "Dashboard", new { area="Admin"})">View <i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>





    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual yellow"><i class="icon-building"></i></div>
                <div class="title">Rejected Registration</div>
                <div class="value">@Model.TotalRejected</div>
                <a class="more" href="@Url.Action("RejectedRegistration", "Dashboard", new { area= "Admin" })">View<i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual red"><i class="icon-building"></i></div>
                <div class="title">
                   Ownedby Registration
                </div>
                <div class="value">@Model.OwnedBy</div>
                <a class="more" href="@Url.Action("OwnedByRegistration", "Dashboard", new { area="Admin"})">View <i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>


</div>
@*@Html.HiddenFor(x => x.store.Id)*@