@model Project.Areas.Admin.Models.DashboardViewModel
@{
    ViewBag.Title = "Dashboard for "+ Model.store.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.IsGreetings = "true";
}
@section Crumbs{
    <div class="crumbs">

        <ul class="breadcrumb" id="breadcrumbs">
            <li> <i class="icon-home"></i> <a href="@Url.Action("Index", "Dashboard", new { area="Admin"})">Dashboard</a> </li>
            <li class="current"> <a title="" href="javascript: return void(0)">@Model.store.Name Dashboard</a> </li>

        </ul>
    </div>
}
<div class="widget-header">
    <a href="@Url.Action("EditStore", "Store", new { area="Setup", Id=Model.store.Id})" class="btn btn-danger btn-xs">Store Profile</a> 
</div>
<br />



<div class="row row-bg">
    <div class="col-sm-6 col-md-3 hidden-xs">
             
            <div class="statbox widget box box-shadow">
                <div class="widget-content">
                    <div class="visual cyan">
                        <div class="statbox-sparkline">30,20,15,30,22,25,26,30,27</div>
                    </div>
                    <div class="title">NEW ORDERS</div>
                    <div class="value">0</div>
                    <a class="more" href="@Url.Action("StoreRoles", "Dashboard", new { area="Admin", Id=Model.store.ProcessInstaceId})">View <i class="pull-right icon-angle-right"></i></a>
                </div>
            </div>

     
    </div>

    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual red">
                    <div class="statbox-sparkline">30,20,15,30,22,25,26,30,27</div>
                </div>
                <div class="title">oUR customers</div>
                <div class="value">0</div>
                <a class="more" href="@Url.Action("StoreCategory", "Dashboard", new { area="Admin", Id=Model.store.ProcessInstaceId})">Manage <i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>





    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual blue">
                    <div class="statbox-sparkline">30,20,15,30,22,25,26,30,27</div>
                </div>
                <div class="title">MANAGE PRODUCTS</div>
                <div class="value">@Model.store.StoreProduct.Count()</div>
                <a class="more" href="@Url.Action("Index", "ProductManagement", new { area="Setup", Id=Model.store.ProcessInstaceId})">Manage <i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 hidden-xs">
        
            <div class="statbox widget box box-shadow">
                <div class="widget-content">
                    <div class="visual green">
                        <div class="statbox-sparkline">30,20,15,30,22,25,26,30,27</div>
                    </div>
                    <div class="title">SALES REPORTS</div>
                    <div class="value">0</div>
                    <a class="more" href="@Url.Action("StoreRoles", "Dashboard", new { area="Admin", Id=Model.store.ProcessInstaceId})">View <i class="pull-right icon-angle-right"></i></a>
                </div>
            </div>
        
    </div>


</div>

<div class="row row-bg">
    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual cyan"><i class="icon-file-text"></i></div>
                <div class="title">Roles Management</div>
                <div class="value">@Model.TototalRole</div>
                <a class="more" href="@Url.Action("StoreRoles", "Dashboard", new { area="Admin", Id=Model.store.ProcessInstaceId})">Manage <i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual cyan"><i class="icon-file-text"></i></div>
                <div class="title">Accounts Management</div>
                <div class="value">@Model.TotalUser</div>
                <a class="more" href="@Url.Action("StoreUserList", "Dashboard", new { area="Admin", Id=Model.store.ProcessInstaceId})">Manage <i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>





    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual yellow"><i class="icon-building"></i></div>
                <div class="title">Contact Person</div>
                <div class="value">@Model.TotalContactinfo</div>
                <a class="more" href="@Url.Action("ContactInfoList", "Dashboard", new { area= "Admin", Id=Model.store.ProcessInstaceId })">View More <i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 hidden-xs">
        <div class="statbox widget box box-shadow">
            <div class="widget-content">
                <div class="visual red"><i class="icon-building"></i></div>
                <div class="title">
                    Organisation Address
                </div>
                <div class="value">@Model.TotalAddress</div>
                <a class="more" href="@Url.Action("AddressList", "Dashboard", new { area="Admin", Id=Model.store.ProcessInstaceId})">View More <i class="pull-right icon-angle-right"></i></a>

            </div>
        </div>
    </div>


</div>


<div class="row">
    <div class="col-md-6">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i>Sine/ Cosine</h4>
                <div class="toolbar no-padding">
                    <div class="btn-group"><span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span></div>
                </div>
            </div>
            <div class="widget-content">
               
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="widget box">
            <div class="widget-header">
                <h4><i class="icon-reorder"></i>Sine/ Cosine</h4>
                <div class="toolbar no-padding">
                    <div class="btn-group"><span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span></div>
                </div>
            </div>
            <div class="widget-content">

            </div>
        </div>
    </div>   
</div>
@Html.HiddenFor(x => x.store.Id)