@model SecurityGuard.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Password Success";
}



<div class="page-header page-title-left mini">
    <div class="image-bg content-in" data-background="@Url.Content("~/Content/Frontend/light/img/sections/slider/inner.jpg")" data-stellar-background-ratio="0.5" style="background-image: @Url.Content("~/Content/Frontend/light/img/sections/slider/backmenu.jpg"); background-position: 50% 0%;"></div>
    <div class="container">
        <div class="col-md-12">
            <h1 class="title" style="color:white">About</h1>
            <ul class="breadcrumb" style="color:white">
                <li style="color:white">
                    <a href="@Url.Action("Index", "Home", new {area = "" })" style="color:white">Home</a>
                </li>

                <li class="active" style="color:white">Forgot Password success</li>
            </ul>
        </div>
    </div>
</div>

<section id="addition-info" class="page-section">
    <div class="container">

        <div class="row">
            <div class="col-md-12">


                <div class="panel panel-warning" id="tabbed_widget_panel">
                    <div class="panel-heading" style="background-color: #FFA500;border-color: #FFA500;">
                       Forgot Password Successful
                    </div>
                    
                        <div class="panel-body">
                            <div class="col-lg-9">
                                
                                <div class="panel-body">
                                    <div class="content col-sm-12 col-md-8">
                                        @if (TempData["Message"] != null)
                                        {
                                            var alertType = (TempData["MessageType"] != null) ? TempData["MessageType"] : "alert-info";
                                            <div class="alert @alertType fade in">
                                                <button type="button" class="close" data-dismiss="alert">
                                                    <i class="fa fa-times"></i>
                                                </button>
                                                @Html.Raw(TempData["Message"])
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="row">
                                <div style="text-align: left;" class="col-md-6">
                                    <a href="@Url.Action("Index", "Home", new {area = "" })" class="btn btn-sm btn-default" style="color:white">Back Home</a>
                                </div>
                                <div style="text-align: right;" class="col-md-6">
                                    
                                    <a href="@Url.Action("Login", "SGAccount", new {area = "" })" class="btn btn-sm btn-default" style="color:white">Login</a>
                                </div>
                            </div>
                        </div>
                    
                </div>

            </div>
        </div>
    </div>
</section>

